/* Reset Margin & Padding */
.gallery_creator ul,
.gallery_creator ul.list_albums > li,
.gallery_creator ul.album_preview li
{
	margin:0;
	padding:0;
	list-style-type:none;
}


/* General Settings */
.gallery_creator li.inline
{
	display:inline;
}

.gallery_creator li.block
{
	display:block;
}

.gallery_creator .backLink
{
       display:block;
       text-align:right;
}

 
/* list albums */
.gallery_creator .list_albums .tstamp p
{
       margin-bottom: 2px !important;
}

.gallery_creator .list_albums .col_1
{
       float:left;
       clear:left;
}

.gallery_creator .list_albums .col_2
{
       float:left;
       width:350px;
	margin-left:30px;
}

.gallery_creator .list_albums .level_1
{
	width:100%;
    padding:0;
}


/* album preview */
.gallery_creator .albumComment
{
       margin-top:1em;
}

.gallery_creator .album_preview li
{
	float:left;
}

.gallery_creator .album_preview .col_first
{
       clear:left;
}

