*.clear {
    clear: both;
}
.icon_clean_db {
    margin-left: 20px;
    padding: 2px 0 3px 22px;
    background: url("../images/database_gear.png") no-repeat left center;
}
.icon_image_add {
    margin-left: 20px;
    padding: 2px 0 3px 22px;
    background: url("../images/image_add.png") no-repeat left center;
}
.album_infos td {
    padding: 4px;
}
.album_infos tr.odd > td {
    background-color: #CCCCCC;
}
div.readonly input {
    background-color: #CCCCCC;
}
#tl_gallery_creator_albums .preview_thumb li {
    width: 100;
    height: 100;
    margin: 0 20px 20px 0;
    overflow: hidden;
    float: left;
    background-color: #ccc;

}

#tl_gallery_creator_albums .preview_thumb input {
    position: relative;
    top: -32px;
    margin-right: 5px;
    display: inline-block;
}

#tl_gallery_creator_albums .preview_thumb li img {
    width: 80px;
    height: 80px;
}
#tl_gallery_creator_albums .preview_thumb li.checked {
    background-color: #00aa55;
}
