*.clear {
    clear: both;
}
.icon_clean_db {
    margin-left:20px;
    padding: 2px 0 3px 22px;
    background: url("../images/database_gear.png") no-repeat left center;
}

.icon_image_add {
    margin-left:20px;
    padding: 2px 0 3px 22px;
    background: url("../images/image_add.png") no-repeat left center;
}

.album_infos td {
    padding: 4px;
}

.album_infos tr.odd>td {
    background-color: #CCCCCC;
}

div.readonly input {
    background-color: #CCCCCC;
}
