*.clear {
    clear: both;
}
.icon_clean_db {
    margin-left: 20px;
    padding: 2px 0 3px 22px;
    background: url("../images/database_gear.png") no-repeat left center;
}
.icon_image_add {
    margin-left: 20px;
    padding: 2px 0 3px 22px;
    background: url("../images/image_add.png") no-repeat left center;
}
.album_infos td {
    padding: 4px;
}
.album_infos tr.odd > td {
    background-color: #cccccc;
}
div.readonly input {
    background-color: #cccccc;
}
#tl_gallery_creator_albums .preview_thumb li {
    height: 80px;
    width: 100px;
    margin: 0 20px 20px 0;
    overflow: hidden;
    float: left;
    background-color: #ececec;
    position:relative;
}
#tl_gallery_creator_albums .preview_thumb input {
    position: absolute;
    top: 33px;
    left: 0;
}
#tl_gallery_creator_albums .preview_thumb li img {
    min-height: 80px;
    position:absolute;
    top:0;
    left: 20px;
    min-width:80px;
}
#tl_gallery_creator_albums .preview_thumb li.checked,
#tl_gallery_creator_albums .preview_thumb li:hover
{
    background-color: rgb(235, 253, 215);
}
