/* Reset Margin & Padding */
.gallery_creator ul.list_albums > li,
.gallery_creator ul.list_albums,
.gallery_creator ul.album_preview li,
.gallery_creator ul
{
	margin:0;
	padding:0;
	list-style-type:none;
}
.gallery_creator li.inline
{
	display:inline;
}
.gallery_creator li.block
{
	display:block;
}
/* Rahmen (und Schatten) um die Bilder */
.gallery_creator img.thumb
{
	margin-bottom:5px;
	padding:4px;
	background-color:#FFFFFF;
	border:1px solid #ccc;
	-webkit-box-shadow: #ccc 0px 1px 4px;
	-moz-box-shadow: #ccc 0px 1px 4px;
	box-shadow: #ccc 0px 1px 4px;
}
/* figcaption ausblenden */
.gallery_creator figcaption.caption
{
	display:none;
}

/* Padding für die Listenelemente der Albenvorschau */
.gallery_creator .list_albums li.level_1
{
	padding:1em;
	width:100%;
}
/* Grauer overlay bei mouseover */
.gallery_creator .active
{
	background-color:#f3f3f3;
}
/* Ausrichtung der Thumnails */
.gallery_creator .show_album_pics li.level_2
{
	vertical-align:top;
}
/* kein margin-right fuer die letzte Spalte im detailview */
li.last_col>div
{
	margin-right:0 !important;
}
/* Vorschaubild links floaten */
.gallery_creator div.col_1,
.gallery_creator div.col_2
{
	float:left;
	display:inline;
}
/*  */
.gallery_creator .col_1 figure
{
	margin:0;
}
/* Albumtitel-Formatierung */
.gallery_creator a>h2:hover
{
	text-decoration:underline;
}
/* Albumkommentar in der Detailansicht */
.gallery_creator .albumComment
{
	margin-top:1em;
}
/* back link */
.gallery_creator .backLink
{
	display:block;
	text-align:right;
}
/* Spalte mit den Albumangaben, Breite nicht zu weit wählen, da ansonst
das Layout auseinanderfällt */
.gallery_creator div.col_2
{
	width:350px;
	margin-left:30px;
}
.gallery_creator p.count_pics
{
	color:#999999;
}
/* Datumsformatierung */
.gallery_creator div.tstamp
{
	margin-bottom:0.5em;
	color:#7A7A7A;
}
/* clearing-box */
.gallery_creator div.clr
{
	height:0;
	clear:both;
	margin:0;
	padding:0;
}
/* Vorschaubild links floaten */
.gallery_creator div.col_1,
.gallery_creator div.col_2
{
	float:left;
	display:inline;
}
.gallery_creator .col_1 .image_container
{
	margin-left:0px;
}
/* Albumtitel-Formatierung */
.gallery_creator a>h2:hover
{
	text-decoration:underline;
}
/* Albumkommentar in der Detailansicht */
.gallery_creator .albumComment
{
	margin-top:1em;
}
/* back link */
.gallery_creator .backLink
{
	display:block;
	text-align:right;
}












